div#qw {
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
}

#qwe {
    gap: 1rem;
    display: inline-flex;
}

div#nav {width: 90vw;color: #FFFF;background-color: #F30000;display: inline-flex;justify-content: flex-start;gap: 3rem;margin-inline-start: 2rem;border-radius: 0.5rem;padding: 0.2rem 2rem;}

li {list-style-image: url(images/line.svg);list-style-type: none;padding-bottom: 0rem;}

div#nav2 {color: #ffff;margin-inline-start: -8rem;background-color: #0061A3;width: 14vw;border-radius: 0.5rem;padding: 0.2rem 2rem;}

div#qwera {/* margin-inline-start: 0rem; */display: inline-flex;}

.col {}

div#erw {padding-inline-start: 13rem;}

div#carouselExampleSlidesOnly {margin: 2rem;}

.card.mb-3 {width: fit-content;/* margin-inline-start: 2rem; */}

.row.g-0 {height: 24vh;width: 30vw;}

img.img-fluid.rounded-start {padding: 1rem;}

.card-body {padding:  0rem !important;}

div#flw {
    display: inline-flex;
    justify-content: space-between;
    gap: 4rem;
}

div.qwas {margin-inline-end: 2rem;flex-wrap: wrap;margin-block-end: 2rem;margin-inline-start: 2rem;display: inline-flex;gap: 1rem;}

.qw21 {margin-block-end: 0.1rem;display: inline-flex;}

div#wq12 {margin-inline-start: 1rem;height: 2rem;display: inline-flex;}

div#ewq12 {/* flex-direction: column-reverse; */height: 2.6rem;gap: 0rem;display: inline-flex;width: 30vw;background-color: #0061A3;}

.wqe21 {border: 1px solid rgba(0,0,0,.125);width: 30vw;}

div#flw1 {margin-inline-start: 7rem;display: inline-flex;
    justify-content: space-between;
    /* gap: 0.4rem; */padding-block-start: 0.4rem;}

.qwas1 {margin-block-end: 5rem;}

div#qwe32 {padding-inline-start: 1rem;}

div#re43 {margin-inline-start: 1rem;}

button#rew {margin-inline-start: 0.65rem;background-color: #F7D300;border-radius: 0.4rem;width: 9rem;height: 2rem;margin: 0.3rem;border: none;}

div#wq2 {border-radius: 0.4rem;padding-block-start: 0.5rem;width: 93vw;background-color: red;padding-inline-start: 36vw;/* text-align: center; *//* display: flex; *//* justify-content: center; *//* align-items: center; *//* align-content: center; */color: #fff;}

div#ewq1z2 {margin-inline-start: 0.4rem;display: flex;flex-direction: column-reverse;}

.wqe2x1 {width: 16vw;border: 1px solid rgba(0,0,0,.125);}

.qw2x1 {/* padding: 0.5rem 2rem; */}

div#wq129 {display: inline-flex;padding-inline-start: 2rem;}

div#qwe382 {padding-inline-start: 3rem;}

div#flwz1 {display: inline-flex;padding-inline-start: 3rem;}

div#wq2x {width: 94vw;margin-block-end: 1rem;color: #ffff;background-color: #F30000;padding-block-start: 0.5rem;padding-block-end: 0.3rem;border-radius: 0.4rem;}

#rew1{
    margin-inline-start: 0.65rem;
    background-color: #F7D300;
    border-radius: 0.4rem;
    width: 10.5rem;
    height: 2rem;
    margin: 0.3rem;
    border: none;
}

div#qwsd {display: inline-flex;}

div#wq21x {width: 64vw; margin-block-end: 4rem; color: #ffff; background-color: #F30000; padding-block-start: 0.5rem; padding-block-end: 0.3rem; border-radius: 0.4rem;margin-inline-start: 2rem;margin-inline-end: 1rem;}

div#wq22x {width: 26vw; margin-block-end: 1rem; color: #ffff; background-color: #F30000; padding-block-start: 0.5rem; padding-block-end: 0.3rem; border-radius: 0.4rem;height: 2.5rem;}

div#ews112 {padding-inline-start: 10rem;gap: 1rem;display: inline-flex;}

h1#blue {color: #0061A3;}

div#ewq112 {display: inline-flex;}

div#tyr2 {height: fit-content;border: 1px solid rgba(0,0,0,.125);width: 47rem;margin-inline-start: 1rem;padding: 1rem 4rem 1rem 1rem;}

div#ewq1 {margin-block-end: 1rem;}

div#ewq131 {display: inline-flex;gap: 2rem;}

div#redw28 {/* display: inline-flex; */}

div#ytr5 {display: inline-flex;gap: 0.2rem;/* clip-path: circle(50px at 0 100px); */}

p#circ {font-size: 0.5rem;background-color: red;/* clip-path: circle(50px at 0 100px); */border-radius: 2rem;padding: 0.5rem;color: #ffff;}

div#hyt {margin-block-start: -0.8rem;font-size: 0.9rem;}

div#re43 {margin-block-end: 1rem;/* text-align: center; *//* border: 1px solid rgba(0,0,0,.125); */width: 20rem;/* padding: 0.5rem; */}

div#retw8 {display: inline-flex;}

h2#green {color: #13902A;font-weight: 700;}

div#rte5 {gap: 1rem;display: inline-flex;}

div#re43w {margin-block-end: 0.2rem;margin-inline-start: 1rem;border: 1px solid rgba(0,0,0,.125);}

#re43q{
    margin-block-end: 1rem;
    text-align: center;
    border: 1px solid rgba(0,0,0,.125);
    width: 20rem;
    padding: 0.5rem;
}