div#qw {
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
}

#qwe {
    gap: 1rem;
    display: inline-flex;
}

div#nav {width: 90vw;color: #FFFF;background-color: #F30000;display: inline-flex;justify-content: flex-start;gap: 3rem;margin-inline-start: 2rem;border-radius: 0.5rem;padding: 0.2rem 2rem;}

li {list-style-image: url(images/line.svg);list-style-type: none;padding-bottom: 0rem;}

div#nav2 {color: #ffff;margin-inline-start: -8rem;background-color: #0061A3;width: 15vw;border-radius: 0.5rem;padding: 0.2rem 2rem;}

div#qwera {/* margin-inline-start: 0rem; */display: inline-flex;}

.col {}

div#erw {padding-inline-start: 13rem;}

div#carouselExampleSlidesOnly {margin: 2rem;}

.card.mb-3 {width: fit-content;/* margin-inline-start: 2rem; */}

.row.g-0 {height: 24vh;width: 30vw;}

img.img-fluid.rounded-start {padding: 1rem;}

.card-body {padding:  0rem !important;}

div#flw {
    display: inline-flex;
    justify-content: space-between;
    gap: 4rem;
}

div.qwas {margin-inline-end: 2rem;flex-wrap: wrap;margin-block-end: 2rem;margin-inline-start: 2rem;display: inline-flex;gap: 1rem;margin-block-start: 2rem;}

.qw21 {margin-block-end: 0.1rem;display: inline-flex;}

div#wq12 {margin-inline-start: 1rem;height: 2rem;display: inline-flex;}

div#ewq12 {/* flex-direction: column-reverse; */height: 2.6rem;gap: 0rem;display: inline-flex;width: 30vw;background-color: #0061A3;}

.wqe21 {border: 1px solid rgba(0,0,0,.125);width: 30vw;}

div#flw1 {margin-inline-start: 7rem;display: inline-flex;
    justify-content: space-between;
    /* gap: 0.4rem; */padding-block-start: 0.4rem;}

.qwas1 {margin-block-end: 5rem;}

div#qwe32 {padding-inline-start: 1rem;}

div#re43 {margin-inline-start: 1rem;}

button#rew {margin-inline-start: 0.65rem;background-color: #F7D300;border-radius: 0.4rem;width: 9rem;height: 2rem;margin: 0.3rem;border: none;}

div#wq2 {border-radius: 0.4rem;padding-block-start: 0.5rem;width: 93vw;background-color: red;padding-inline-start: 36vw;/* text-align: center; *//* display: flex; *//* justify-content: center; *//* align-items: center; *//* align-content: center; */color: #fff;}

div#ewq1z2 {margin-inline-start: 0.4rem;display: flex;flex-direction: column-reverse;}

.wqe2x1 {width: 16vw;border: 1px solid rgba(0,0,0,.125);}

.qw2x1 {/* width: 22rem; *//* padding: 0.5rem 2rem; */}

div#wq129 {display: inline-flex;padding-inline-start: 2rem;}

div#qwe382 {padding-inline-start: 3rem;}

div#flwz1 {display: inline-flex;padding-inline-start: 3rem;}

div#wq2x {width: 94vw;margin-block-end: 1rem;color: #ffff;background-color: #F30000;padding-block-start: 0.5rem;padding-block-end: 0.3rem;border-radius: 0.4rem;}

#rew1{
    margin-inline-start: 0.65rem;
    background-color: #F7D300;
    border-radius: 0.4rem;
    width: 10.5rem;
    height: 2rem;
    margin: 0.3rem;
    border: none;
}

div#qwsd {display: inline-flex;}

div#wq21x {width: 65vw; margin-block-end: 4rem; color: #ffff; background-color: #F30000; padding-block-start: 0.5rem; padding-block-end: 0.3rem; border-radius: 0.4rem;margin-inline-start: 2rem;margin-inline-end: 1rem;}

div#wq22x {width: 26vw; margin-block-end: 1rem; color: #ffff; background-color: #F30000; padding-block-start: 0.5rem; padding-block-end: 0.3rem; border-radius: 0.4rem;height: 2.5rem;}

div#ews112 {padding-inline-start: 10rem;gap: 1rem;display: inline-flex;}

h1#blue {color: #0061A3;}

div#ewq112 {/* flex-direction: column; */display: inline-flex;}

div#tyr2 {/* margin-inline-start: -1rem; */height: fit-content;border: 1px solid rgba(0,0,0,.125);width: 47rem;margin-inline-start: 1rem;padding: 1rem 4rem 1rem 1rem;}

div#ewq1 {margin-block-end: 1rem;}

div#ewq131 {display: inline-flex;gap: 2rem;}

div#redw28 {/* display: inline-flex; */}

div#ytr5 {display: inline-flex;gap: 0.2rem;/* clip-path: circle(50px at 0 100px); */}

p#circ {font-size: 0.5rem;background-color: red;/* clip-path: circle(50px at 0 100px); */border-radius: 2rem;padding: 0.5rem;color: #ffff;}

div#hyt {margin-block-start: -0.8rem;font-size: 0.9rem;}

div#re43 {/* font-size: initial; */margin-block-end: 1rem;/* text-align: center; *//* border: 1px solid rgba(0,0,0,.125); */width: 20rem;/* padding: 0.5rem; */}

div#retw8 {display: inline-flex;}

h2#green {color: #13902A;font-weight: 700;}

div#rte5 {gap: 1rem;display: inline-flex;}

div#re43w {margin-block-end: 0.2rem;margin-inline-start: 1rem;border: 1px solid rgba(0,0,0,.125);}

#re43q{
    margin-block-end: 1rem;
    text-align: center;
    border: 1px solid rgba(0,0,0,.125);
    width: 20rem;
    padding: 0.5rem;
}


@media only screen and (max-width: 600px) {
    div#carouselExampleSlidesOnly {
        margin: 0rem !important;
    }
    #re43q {
        margin-inline-start: 1rem;margin-block-end: 1rem;
        text-align: center;
        border: 1px solid rgba(0,0,0,.125);
        width: 84vw;
        padding: 0.5rem;
    }
    div#tyr2 {
        /* margin-inline-start: -1rem; */
        height: fit-content;
        border: 1px solid rgba(0,0,0,.125);
        width: 84vw;
        margin-inline-start: 1rem;
        padding: 1rem 4rem 1rem 1rem;
    }
    #rew12 {
        margin-inline-start: -0.35rem !important;
        width: 75vw !important;
        background-color: #F7D300;
        border-radius: 0.4rem;
        width: 6.5rem;
        height: 2rem;
        /* margin: 0.3rem; */
        border: none;
    }
    div#fde2 {
        display: inline-flex;
        flex-direction: column;
    }
    div#flwz1 {
        display: inline-flex;
        padding-inline-start: 1.5rem;
    }
    div#qwe382 {
        padding-inline-start: 2rem;
    }
    div#wq129 {
        display: inline-flex;
        padding-inline-start: 0.3rem !important;
    }
    div#flw {
        display: inline-flex;
        /* justify-content: space-between; */
        gap: 0rem !important;
    margin-block-start: 0.2rem;width: 10rem;}
    #mobil{
        display: none;
    }
    #mobil1{
        display: block !important;
    }
    .container1{
        display: block !important;
    }
    .container{
        display: none;
    }
    div#redw28 {
        margin-inline-start: 0.5rem;
    }
    h4{
        font-size: 1rem;
    margin-inline-start: -1rem;font-weight: 700;}
    div#ewq131 {
        display: inline-flex;
        gap: 0rem;
    /* flex-direction: column; */}
    #fde2 > p{
        width: 16rem;
    }
    h1{
        font-size: 1rem;
        font-weight: 900;
        padding-block-start: 1rem;
    }
    div#ews112 {
        padding-inline-start: 1rem;
        gap: 1rem;
        display: inline-flex;
    }
    div#ewq112 {
        flex-direction: column;
        display: inline-flex;
    }
    #ewq112 > img{
        width: 16rem
    }
    div.qwast {
        margin-block-start: 0rem;
        margin-inline-end: 2rem;
        flex-wrap: wrap;
        margin-block-end: 0rem;
        margin-inline-start: 0rem;
        display: inline-flex;
        gap: 1rem;
        grid-column-gap: 3.4rem;
    }
    div#qwsd {
        margin-block-end: -3rem !important;display: inline-flex;
    }
    #wq2x > h6{
        padding-inline-start: 9vw !important;
    }
    div#wq21x {
        width: 84vw;
        margin-block-end: 4rem;
        color: #ffff;
        background-color: #F30000;
        padding-block-start: 0.5rem;
        padding-block-end: 0.3rem;
        border-radius: 0.4rem;
        margin-inline-start: 1rem;
        margin-inline-end: 1rem;
    }
    div#wq2x {
        margin-inline-start: -1rem;width: 92vw;
        margin-block-end: 1rem;
        color: #ffff;
        background-color: #F30000;
        /* padding-block-start: 0.5rem; */
        /* padding-block-end: 0.3rem; */
        border-radius: 0.4rem;
    }
    div#end {
        margin-block-end: 2rem;
    }
    #end > a{
        margin-inline-end: 3rem !important;
    }
    #vb{
        padding: 0.5rem 1rem !important;
        clip-path: circle(60px at center);
    }
    #rew1 {
        /* margin-inline-start: 3.65rem !important; */
        background-color: #F7D300;
        border-radius: 0.4rem;
        width: 6.5rem;
        height: 2rem;
        margin: 0.3rem;
        border: none;
    }
    .wqe2x1 {
        margin-inline-end: 1rem;margin-inline-start: 0rem;width: 8rem;
        border: 1px solid rgba(0,0,0,.125);
    }
    .qwas1 {
        margin-block-end: 1rem !important;
    }
    #qwe32 > h6, #wq12 > h6{
        font-size: initial;
    }
    div#re43 {
        font-size: initial;
        margin-block-end: 1rem;
        /* text-align: center; */
        /* border: 1px solid rgba(0,0,0,.125); */
        width: 20rem;
        /* padding: 0.5rem; */
    }
    #gf43{
        width: 6rem;
        margin-block-start: 0.2rem;
    }
    div#flw1 {
        margin-inline-start: 2rem;
        display: inline-flex;
        justify-content: space-between;
        /* gap: 0.4rem; */
        padding-block-start: 0.4rem;
    }
    div#ewq12 {
        /* flex-direction: column-reverse; */
        height: 2.6rem;
        gap: 0rem;
        display: inline-flex;
        width: 91vw;
        background-color: #0061A3;
    }
    .wqe21 {
        margin-inline-start: -1rem;border: 1px solid rgba(0,0,0,.125);
        width: 92vw;
    }
    p.card-text {
        font-size: 0.6rem;
    margin-block-start: 0.5rem;}
    .col-md-8 {
        width: 8rem;
        /* max-width: 38rem; */
    }
    .col-md-4 {
        width: 7rem;
    }
    h6{
        font-weight: 700;font-size: 0.8rem;
    }

    div#qwera{
        display: none;
    }
    .row.g-0 {
        flex-wrap: nowrap;display: inline-flex;height: fit-content;
        width: 92vw;
    }
    div.qwas {
        margin-block-start: 2rem;margin-inline-end: 2rem;
        flex-wrap: wrap;
        margin-block-end: 2rem;
        margin-inline-start: 1rem;
        display: block;
        gap: 1rem;
    }
    div.qwasz {
        margin-block-start: 0rem;margin-inline-end: 2rem;
        flex-wrap: wrap !important;
        margin-block-end: 0rem;
        margin-inline-start: -1rem !important;
        display: inline-flex !important;
        /* gap: 1rem !important; */
    grid-column-gap: 7.6rem !important;}
    .w-100 {
        width: 100vw !important;
    }
    


}



div#try658 {gap: 2rem;display: inline-flex;}

.col-md-4 {}

div#redw28 {/* margin-inline-start: 0.5rem; */}

div.qwasz {
    
        margin-inline-end: 2rem;
        flex-wrap: wrap;
        margin-block-end: 2rem;
        margin-inline-start: 2rem;
        display: inline-flex;
        gap: 1rem;
    }

div#fde2 {/* display: inline-flex; *//* flex-direction: column; */}

body {width: 100vw;overflow-x: hidden;}